# OS
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# PowerShell and tooling
*.log
*.clixml
*.tmp
*.bak
*.swp

# Screenshots
Screenshot.png
screenshot.jpg

# Generated reports
ProfileDoktor_Report_*.html
